page-profile {
  .scroll-content {
    background-color: #f8f8f8;
  }

  .back-button {
    color: color($colors, dark);
  }

  .list {
    margin-bottom: 0;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .item-end-span {
    color: gray;
    font-size: 1.3rem;
  }
}
