<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orangered">
    <ion-buttons start>
      <button ion-button>
        {{geolocationProvider.currentCity}}&nbsp;
        <ion-icon name="arrow-down"></ion-icon>
      </button>
    </ion-buttons>

    <ion-searchbar [placeholder]="'搜索'"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-fab class="animated bounceInUp" right bottom>
    <button ion-fab color="tomato" (click)="scrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </button>
  </ion-fab>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header>
      正在热映
      <button ion-button clear color="gray" item-end (click)="openMoviesPage('hot')">
        全部({{moviesProvider.hotMoviesTotal}})&nbsp;
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-list-header>

    <ion-item class="hot-movies-item">
      <ion-slides slidesPerView="3.3" #hotMoviesSlides>
        <ion-slide *ngFor="let movie of moviesProvider.hotMovies">
          <div class="hot-movie-img" [style.background-image]="'url(' + movie['img'] + ')'"></div>
          <h3 class="hot-movie-name">{{movie['nm']}}</h3>
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-divider color="background-light"></ion-item-divider>

    <ion-list-header class="coming-movies-list-header">
      即将上映
      <button ion-button clear color="gray" item-end (click)="openMoviesPage('coming')">
        全部({{moviesProvider.expectedMoviesTotal}})&nbsp;
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-list-header>

    <ion-item class="coming-movies-item">
      <ion-slides slidesPerView="3.3" #comingMoviesSlides>
        <ion-slide *ngFor="let movie of moviesProvider.expectedMovies">
          <div class="coming-movie-img"
               [style.background-image]="'url(' + 'http://p0.meituan.net/165.220'+movie['img'].substring(25) + ')'">
            <div class="coming-movie-img-cover">
              <p class="coming-movie-wish">{{movie['wish']}} 人想看</p>
            </div>
          </div>
          <h3 class="coming-movie-name">{{movie['nm']}}</h3>
          <p class="coming-movie-coming-title">{{movie['comingTitle']}}</p>
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-divider color="background-light"></ion-item-divider>

    <ion-list-header class="information-list-header">电影资讯</ion-list-header>

    <ion-item class="information-item" *ngFor="let information of informationProvider.information" tappable
              (click)="openInformationDetailPage(information['contentId'])">
      <div *ngIf="information['images'].length===0">
        {{information['title']}}
      </div>

      <div *ngIf="information['images'].length===1">
        <div class="information-title">{{information['title']}}</div>
        <div class="information-img-1-1"
             [style.background-image]="'url(' + information['images'][0]['url'] + ')'"></div>
      </div>

      <div *ngIf="information['images'].length===2">
        {{information['title']}}
        <div>
          <div class="information-img-2-1"
               [style.background-image]="'url(' + information['images'][0]['url'] + ')'"></div>
          <div class="information-img-2-2"
               [style.background-image]="'url(' + information['images'][1]['url'] + ')'"></div>
        </div>
      </div>

      <div *ngIf="information['images'].length===3">
        {{information['title']}}
        <div>
          <div class="information-img-3-1"
               [style.background-image]="'url(' + information['images'][0]['url'] + ')'"></div>
          <div class="information-img-3-2"
               [style.background-image]="'url(' + information['images'][1]['url'] + ')'"></div>
          <div class="information-img-3-3"
               [style.background-image]="'url(' + information['images'][2]['url'] + ')'"></div>
        </div>
      </div>

      <div class="information-below">
        <p class="information-online-time">{{timestampToDate(information['onlineTime'])}}</p>
        <p class="information-view-count">
          <ion-icon name="md-eye"></ion-icon>
          <span>{{information['viewCount']}}</span>
        </p>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
