// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ion-ios-weibo, .ion-ios-wechat, .ion-ios-qq {
  height: 50px !important;
  min-width: 50px !important;
}

.ion-ios-weibo {
  content: url("../assets/icon/third-party/weibo.png");
}

.ion-ios-wechat {
  content: url("../assets/icon/third-party/wechat.png");
}

.ion-ios-qq {
  content: url("../assets/icon/third-party/qq.png");
}

.popover-select {
  ion-backdrop {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)) !important;
  }

  .popover-content {
    left: 0 !important;
    margin-top: -8px !important;
  }

  ion-item {
    font-size: 1.5rem;
  }
}

.popover-select-dark {
  ion-backdrop {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) !important;
  }

  .popover-content {
    background-color: black !important;
    left: 0 !important;
    margin-top: -8px !important;
  }

  ion-item {
    font-size: 1.5rem;
    background-color: #151515;
    color: #808080;
  }

  ion-list > ion-item:first-child {
    border-top: 1px solid #000 !important;
  }

  ion-item .item-inner, ion-list > ion-item:last-child {
    border-bottom: 1px solid #000 !important;
  }
}

.alert-button-warning {
  color: color($colors, orangered) !important;
}
